@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');

nav {
  font-family: "Cinzel", serif;
}

body {
  background: #ecf0f1 !important;
}

.container-center {
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

.login-container {
  padding: 1em 2em;
  box-shadow: 0rem 0rem 20rem rgb(0, 0, 0, 47%);
  border-radius: 0.3em;
  font-family: "Exo", sans-serif !important;
}

.login-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
}

.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-fields {
  margin-bottom: 1em;
}

.image {
  height: 30em;
}

.image img {
  height: inherit;
}

.home-container {
  height: 100vh;
  position: fixed;
  width: 50%;
  top: 0px;
  left: 0;
  background: #e2e6e6;
  z-index: -1;
}

.home-container-grid {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-greeting-heading {
  font-family: "Noto Sans JP", sans-serif;
}

.home-greeting {
  font-weight: 900;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.notFound {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: -3;
  font-family: "Georama", sans-serif;
}

.notFound-desc {
  font-size: 1.5rem;
  color: #0007ff;
}

.notFound-heading {
  position: absolute;
  z-index: -5;
  font-size: 15rem;
  color: #cbdce0;
}

@media only screen and (max-width: 758px) {
  .login-grid-container {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 422px) {
  .image {
    height: 20em !important;
  }
}
